<div class="hero_area sub_page">
  <div class="bg-box">
    <img src="/images/hero-bg.jpg" alt="">
  </div>
  
<style>
    body.sub_page {
  background-image:
    linear-gradient(rgba(255, 182, 193, 0.55), rgba(255, 182, 193, 0.55)),
    url('/images/back-cardapio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
</style>

  <!-- header section -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>Encanto Doceria</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item">
              <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/menu">Cardápio <span class="sr-only">(atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
          </ul>
          <div class="user_option">
            <a class="cart_link" href="/carrinho">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 456.029 456.029">
                <g>
                  <g>
                    <path
                      d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248 c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48 C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064 c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4 C457.728,97.71,450.56,86.958,439.296,84.91z" />
                  </g>
                </g>
              </svg>
              <span class="cart-badge cart-count">0</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
</div>

<section class="food_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Cardápio Encanto</h2>
      
      
      <p>Escolha seus doces favoritos e adicione ao carrinho 💗</p>
    </div>

    <div class="filters-content">
      <div class="row grid">

        <!-- 1 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Brigadeiro Gourmet</h5>
                <p>Brigadeiro de chocolate belga, finalizado no granulado belga.</p>
                <div class="options">
                  <h6>R$ 4,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Brigadeiro Gourmet"
                     data-price="4.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 2 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Coxinha de Morango</h5>
                <p>Morango fresco envolto em brigadeiro de leite ninho e casquinha crocante.</p>
                <div class="options">
                  <h6>R$ 12,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Coxinha de Morango"
                     data-price="12.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 3 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Brownie</h5>
                <p>Brownie molhadinho com pedaços de chocolate.</p>
                <div class="options">
                  <h6>R$ 8,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Brownie"
                     data-price="8.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 4 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Trufa de Chocolate</h5>
                <p>Casquinha crocante com recheio cremoso de chocolate.</p>
                <div class="options">
                  <h6>R$ 5,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Trufa de Chocolate"
                     data-price="5.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 5 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f5.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Cupcake de Baunilha</h5>
                <p>massa fofinha com cobertura de chantininho rosa.</p>
                <div class="options">
                  <h6>R$ 10,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Cupcake de Baunilha"
                     data-price="10.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 6 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f6.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Cupcake Red Velvet</h5>
                <p>Clássico red velvet com cobertura cremosa.</p>
                <div class="options">
                  <h6>R$ 12,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Cupcake Red Velvet"
                     data-price="12.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 7 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f7.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Banoffee no Copo</h5>
                <p>Camadas de banana, doce de leite e chantilly.</p>
                <div class="options">
                  <h6>R$ 14,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Banoffee no Copo"
                     data-price="14.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 8 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f8.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Torta Leite Ninho (fatia)</h5>
                <p>Base crocante e recheio cremoso de leite ninho.</p>
                <div class="options">
                  <h6>R$ 16,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Torta Leite Ninho (fatia)"
                     data-price="16.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 9 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f9.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Pudim no Pote</h5>
                <p>Pudim clássico com calda de caramelo.</p>
                <div class="options">
                  <h6>R$ 9,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Pudim no Pote"
                     data-price="9.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 10 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Quindim</h5>
                <p>Tradicional quindim com muito coco ralado.</p>
                <div class="options">
                  <h6>R$ 6,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Quindim"
                     data-price="6.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 11 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Bolo no Pote Oreo</h5>
                <p>Camadas de bolo, creme e pedacinhos de Oreo.</p>
                <div class="options">
                  <h6>R$ 14,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Bolo no Pote Oreo"
                     data-price="14.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 12 -->
        <div class="col-sm-6 col-lg-4 all doce">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Donuts de Morango</h5>
                <p>Rosquinha macia coberta com glacê rosa.</p>
                <div class="options">
                  <h6>R$ 8,00</h6>
                  <a href="#"
                     class="add-to-cart"
                     data-name="Donuts de Morango"
                     data-price="8.00">
                    + Carrinho
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
