<h3>Sobre o Sistema</h3>

<p>O Encanto Doceria é um sistema online para exibição de cardápio digital, organização de produtos e interação dos clientes com as receitas. O sistema permite visualizar doces, bolos e tortas disponíveis, curtir receitas favoritas, registrar comentários e avaliações, além de oferecer recursos administrativos para gerenciamento de produtos e feedback dos clientes.</p>