<div class="hero_area sub_page">
  <div class="bg-box">
    <img src="/images/hero-bg.jpg" alt="">
  </div>
</div>

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="img-box">
          <img src="/images/about-img.png" alt="">
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Sobre a Encanto Doceria</h2>
          </div>
          <p>
            A Encanto Rosa nasceu do amor por doces, sabores e momentos especiais 💗  
            Produzimos cada docinho com carinho e ingredientes de qualidade!
          </p>

          <p>
            Seja para um presente, festa ou um dia doce, estamos aqui para tornar tudo ainda mais delicioso!
          </p>

          <a href="/menu" class="btn btn-pink">
            Ver Cardápio
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
