<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Encanto Doceria - {{title}}</title>

  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="{{bodyClass}}">

  {{{body}}}

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>Fale Conosco</h4>
            <div class="contact_link_box">
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Ji-Paraná - RO</span>
              </a>
              <a href="https://wa.me/556992020634" target="_blank">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>WhatsApp: (69) 9202-0634</span>
              </a>
              <a href="mailto:contato@encantodoceria.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>contato@encantodoceria.com</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="/" class="footer-logo">
              Encanto Doceria
            </a>
            <p>
              Doces artesanais feitos com carinho para deixar os seus momentos ainda mais especiais.
            </p>
            <div class="footer_social">
              <a href="https://www.instagram.com/encanto_doceria_rl?igsh=MXg1M2c4N2tvb2s4eA=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/encanto_doceria_rl?igsh=MXg1M2c4N2tvb2s4eA=="><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://wa.me/message/NR4GAHMQDBLOH1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>Horário de funcionamento</h4>
          <p>Segunda a Sábado</p>
          <p>09h00 às 19h00</p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Encanto Doceria - Todos os direitos reservados
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js (do template) -->
  <script src="/js/custom.js"></script>
  <!-- script do carrinho -->
  <script src="/js/cart.js"></script>

</body>

</html>
